

<div class="container">
  <div class="product-grid">
    @for (product of allProducts; track product.id){
      <div class="product-card">
        <img src="{{product.images[0].imageUrl}}" alt="Stylish Watch">
        <div class="product-content">
          <h2 class="product-title"> {{product.name}} </h2>
          <p class="product-description">{{product.description}}</p>
          <div class="product-price">{{product.price}}</div>
          <a class="buy-button"  >View Detail</a>
        </div>
      </div>
    }
  </div>
</div>
